
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
  }
  .login-container {
    text-align: center;
    background-color: rgb(168, 212, 191);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
   
    color:rgb(3, 109, 42) 
  }
  .captcha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-style:oblique;
    font-family:initial;
  }
  .captcha-text {
 
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #8cb3a2;;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    color:rgba(16, 160, 105, 0.947);;
    background-color: #dce1e0;
    
  }
  
  #captcha-input {
    padding: 10px;
    border: 2px solid #989494;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
  }
  .refresh-btn {
    border-radius: 100%;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }
  img{
    border-radius: 100%;
  }
  img:active{
   background-color:#0c5032;
  }  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  #login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  input[type="text"],
  input[type="password"] {
    margin: 5px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
  } 
  button[type="submit"] {
    margin-top: 10px;
    background-color:#0c5032;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

  }
  button[type="submit"]:hover{
    background-color: #14a969;
  }
  button[type="submit"]:active{
    background-color: #377413;
  }